<div class="hero">
	<div class="container-switch-lang">
		<a class="switch-lang" href="https://alldock-prelaunch.herokuapp.com">English</a>
	</div>
	<div class="container-headers">
		<div class="alldock-logo"></div>
		<p class="large brandon">Ultra performant,</p>
		<p class="large brandon">Ultra &#233;l&#233;gant</p>
	</div>
</div>
<div class="form-wrap  <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <p class="thanks brandon">MERCI D'AVOIR PARTICIP&#201; AU LANCEMENT</p>
        <p class="compiling brandon">NOUS COMPILONS LES R&#201;SULTATS. UN COURRIEL SERA ENVOY&#201; &#192; TOUS LES PARTICIPANTS AVEC LEUR CODE COUPON DANS LES PROCHAINS JOURS</p>
        <p class="go-to brandon">En attandant, visitez notre d&#233;taillant: <a href="http://fr.mobiessentials.com">www.mobiessentials.com</a></p>
        <p class="again brandon">Merci &#224; tous!</p>
    <% else %>
        <p class="byline brandon">Inscrivez-vous pour en apprendre d'avantage</p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
            <input class="submit brandon" name="commit" type="submit" value="En voir plus" />
        <% end %>
    <% end %>
</div>